# Byte-compiled / optimized / DLL filesa
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Data and cache
data/
!.gitkeep
.streamlit/
.cache/
**/.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
